
{{#paper-list}}
    {{#paper-item class="md-1-line"}}
        <p>Add to Product Backlog</p>
    {{/paper-item}}
    {{#paper-item class="md-1-line"}}
        <p>Move to Pending</p>
    {{/paper-item}}
    {{#paper-item class="md-1-line"}}
        <p>Mark as Complete</p>
    {{/paper-item}}
    {{#paper-item class="md-1-line"}}
        <p>Schedule</p>
    {{/paper-item}}
    {{#paper-item class="md-1-line"}}
        <p>Pick</p>
    {{/paper-item}}
    {{#paper-item class="md-1-line"}}
        <p>Cancel Task</p>
    {{/paper-item}}
{{/paper-list}}
