@import 'ember-paper';

body{
    margin: 0;
    padding: 0;
}

.fix-toolbar{
    // display: flex;
    // flex-direction: column;
    height: 5vh;
}

.view-content{
    // display: flex;
    // flex-direction: column;
    flex: 1;
    overflow: auto;
}

#fixedbutton{
    position: fixed;
    left: 8vw;
    bottom: 10vh;
}

.footer {
    height: 5vh;
    bottom: 0;
    padding: 0;
}

.fix-toolbar{
    box-shadow: 0px 2.5px 2.5px rgba(1,1,1,1);
}    


.dd {
    height: 55vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .md-1-line {
    
        height: 150px;
        width: 45%;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        justify-self: center;
        flex-direction: row;
        font-size: 17px;
    }
    
    
}
